body {
  margin: 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Lexend Deca", sans-serif;
}

.page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-left: 40px;
  text-align: left;
}

h2, h3, h4 {
  color: #000000;
  font-family: "Lexend Deca", sans-serif;
}

h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

h4 {
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 30%;
  margin-left: 20px;
}

.lexend-deca-text {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #005398;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding-top: 50px;
  
}

.navbar1 { background-color: #FFC609; }

.nav-title {
  color: white;
  margin: 0;
  font-size: 40px;
}

.nav-title1 { color: #000000; }

/* Interactive Picture Book */
:root {
  --book-width: 500px;
  --book-height: 500px;
}

.book {
  position: relative;
  width: var(--book-width);
  height: var(--book-height);
  perspective: 1500px;
  margin-top: 200px;
  transition: transform 0.8s;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.8s;
  cursor: pointer;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid black;
  backface-visibility: hidden;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
   transform: rotateY(180deg) translateX(20px);
  background: white;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.flipped {
  transform: rotateY(-180deg);
}

/* Interactive Picture Book Colours */
.front1 { background: #FFC609; }
.front2 { background: #F26522; }
.front3 { background: black; color: white; }
.front4 { background: #257032; }
.front5 { background: #ffffff; }

#p1 { z-index: 5; }
#p2 { z-index: 4; }
#p3 { z-index: 3; }
#p4 { z-index: 2; }
#p5 { z-index: 1; }

/* Picture Book Gallery */
.books-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 40px;
  justify-content: center;
  margin: 30px auto;
  position: relative;
  bottom: 35px;
}

.book-cover img {
  width: 100%;
  border: 5px solid black;
  border-radius: 10px;
  transition: 0.2s;
}

.book-cover img:hover {
  transform: scale(1.05);
  border: 5px solid #FFC609;
}

/* Picture Book Bookshelf*/
.shelf-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  transform:scale(0.8);
  margin-top: 50px;
}

.shelf {
  position: relative;
  width: 1200px;
  margin: 80px auto;
}

.shelf::after {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 1200px;
  height: 50px;
  background-color: #8B4513;
  border-radius: 10px;
  border: 5px solid #000;
  z-index: 1;
}

.pole {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 600px;
  border-radius: 10px;
  background-color: #8B4513;
  border: 5px solid #000;
  bottom: -15px;
  z-index: 10;
}

.left {
  left: -5px;
}

.right {
  right: -10px;
}

/* Book HTML Top Section */
.menu-button {
  position: absolute;
  z-index: 300;
  top: 60px;
  right: 40px;
  font-size: 25px;
  padding: 7.5px 15px;
  border: 5px solid #FFC609;
  border-radius: 12px;
  background: #FFC609;
  font-family: "Lexend Deca", sans-serif;
  transition: 0.2s;
}

.menu-button:hover {
  border: 5px solid #F26522;
  background: #F26522;
  transform: scale(1.1);
  cursor: pointer;
}

.menu-button1 { border: 5px solid #F26522; background: #F26522;}
.menu-button1:hover { border: 5px solid #257032; background: #257032; color: #ffffff; }

.menu-buttons{
  margin-top: 200px;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -350px;
  width: 300px;
  height: 100%;
  background-color: #257032;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: right 0.3s ease;
  z-index: 200;
}

.side-menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 40px;
  z-index: 200;
}

.side-menu.open {
  right: 0;
}

.side-menu1 { background-color: #005398; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 150;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
